.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 420px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 30px;
  font-family: 'Arial Black';
  font-weight: 700;
}
.fighter-preview___params {
  display: flex;
}
.fighter-preview___right > .fighter-preview___params {
  flex-direction: row-reverse;
}
.info-block {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  justify-content: center;
  margin: 5px;
}

.info-block > p {
  text-align: center;
  margin: 0.1em;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 16px;
  font-family: 'Arial Black';
  font-weight: 700;
}
.info-block > .value {
  font-size: 24px;
}
.attack {
  background: #da0505;
}
.health {
  background: #1d751d;
}
.defense {
  background: #1414a7;
}
.fighter-preview___img {
  height: 390px;
}
